{% extends 'base.html.twig' %}

{% block title %}Symfonic Fesy{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% block header %}

        {% block navbar %}
            {{ parent() }}
        {% endblock %}

    {% endblock %}


<div class="container mx-auto">
    <h1 class="text-7xl pt-20">{{ controller_name }}</h1>

    <div class="gap-8 columns-3 pt-20">

    {% for day in days %}
        <div>
            <a href="{{ path('app_progday', { id: day.id }) }}">
                <img class="w-full h-auto" src="{{asset('img/' ~ day.imgFileName)}}" alt="affiche">
            </a>
        </div>
    {% endfor %}
    
    
    
    </div>

</div>
{% endblock %}
